@import url(//fonts.googleapis.com/css?family=Open+Sans);

/* select all and set font-weight: 800 */
* {
  /* font-weight: 800; */
  color: #f8f8fb !important;
}

textarea:disabled {
  -webkit-text-fill-color: #f8f8fb !important;
}
body {
  /* set the color of the text to match the nice background gradient */
  color:#f8f8fb;
  background-color: #29375b;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
